package hash

processor Set
  templates add
    def val: $;
    def ind: $::hashCode -> $ mod $@Set::length + 1;
    $ -> #
    <?($@Set($ind) <[<$>]>)> 0 ! // Already exists
    <?($@Set($ind) <[](32)>)> // rehash
      def old: $@Set;
      @Set: [1..$old::length*2 -> []];
      $old... ... -> add -> !VOID
      $ -> add !
    <>
      ..|@Set($ind): $;
      1 !
  end add
  @:[1..32 -> []];
  $... -> add -> !VOID
end Set
